{
  "presets": [
    "next/babel",
    "@zeit/next-typescript/babel"
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-function-bind"
    ],
    [
      "@babel/plugin-proposal-decorators",
      { "legacy": true }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      { "loose": true }
    ],
    [
      "module-resolver",
      {
        "root": [
          "./pages"
        ],
        "alias": {
          "@src": "./pages"
        },
        "extensions": [
          ".ts",
          ".tsx"
        ]
      }
    ],
    ["styled-components", { "ssr": true }]
  ]
}
