{
  "extends": [
    "yiiu",
    "yiiu/typescript"
  ],
  "rules": {
    "no-undef": 0,
    // "no-unused-locals": 1,
    "no-plusplus": "off",
    "max-len": [
      "error",
      160
    ],
    "indent": ["error", 2],
    "@typescript-eslint/explicit-module-boundary-types": ["off"],
    "import/extensions": "off",
    "no-const-assign": "off",
    "@typescript-eslint/indent": ["off", 2]
  }
}
